In this notebook I go through the process of formatting and cleaning the data into the structure it is used for analysis.

In [226]:
import pandas as pd
df = pd.read_excel('united_states_offense_type_by_agency_2015.xlsx')
df.drop(['Unnamed: '+str(i) for i in [1,4,5,6,7,8]],axis=1,inplace=True)
labelsseries = df.iloc[3,:].dropna()
labels = dict(zip(labelsseries.index,labelsseries.values))
for key,value in labels.items():
    labels[key] = labels[key].replace('\n',' ')
labels['United States'] = 'State'
labels['Unnamed: 2'] = 'City'
labels['Unnamed: 3'] = 'Population'
df.rename(columns=labels,inplace=True)
df = df.loc[4:]
#df['total_crimes'] = df[[i for i in df.columns if i not in ['State','City','Population1']]].sum(axis=1)
not_crimes = ['State','City','Population']
crimes = [i for i in df.columns if i not in not_crimes]
df = df[not_crimes+crimes]
df.head()

,State,City,Population,Aggravated Assault,Simple Assault,Intimidation,Homicide Offenses,Murder and Nonnegligent Manslaughter,Negligent Man- slaughter,Justifiable Homicide,...,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution Offenses,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
4,ALABAMA,Hoover,85163,52,539,201,3,3,0,0,...,0,0,0,0,7,15,15,0,0,45
5,ARIZONA,Apache Junction,38519,82,345,64,0,0,0,0,...,0,0,0,0,4,10,0,10,0,37
6,NaN,Gilbert,247324,121,846,202,4,2,1,1,...,0,0,0,0,13,11,10,1,0,46
7,NaN,Yuma,93923,330,668,167,6,5,1,0,...,0,0,0,0,13,0,0,0,0,74
8,NaN,Yuma,NaN,91,368,82,5,5,0,0,...,0,0,0,0,4,2,1,1,0,24

'Homicide Offenses','Pros- titution Offenses' are both summary columns

In [227]:
df.drop(['Homicide Offenses','Pros- titution Offenses'],axis=1,inplace=True)

'Fraud Offenses' is a summary column

In [228]:
df[[i for i in df.columns if 'Fraud' in i]+['False Pretenses/ Swindle/ Confidence Game','Imper- sonation']].head()
df.drop('Fraud Offenses',axis=1,inplace=True)

'Larceny/ Theft Offenses' is a summary column.

In [229]:
theft_crimes = ['Pocket- picking', 'Purse- snatching', 'Shop- lifting','Larceny/ Theft Offenses']+['Theft From Building', 'Theft From Coin Op- erated Machine or Device',
       'Theft From Motor Vehicle','Theft of  Motor  Vehicle Parts or Acces- sories', 'All Other Larceny']
df[theft_crimes]
df[[i for i in theft_crimes if i!='Larceny/ Theft Offenses']].sum(axis=1)
df.drop('Larceny/ Theft Offenses',axis=1,inplace=True)

'Drug/ Narcotic Offenses' is a summary column.

In [230]:
df[['Drug/ Narcotic Offenses', 'Drug/ Narcotic Violations','Drug Equipment Violations']]
df.drop('Drug/ Narcotic Offenses',axis=1,inplace=True)

'Sex Offenses' is a summary column.

In [231]:
df[['Sex Offenses','Rape', 'Sodomy', 'Sexual Assault With an Object', 'Fondling',
       'Sex Offenses, Non- forcible', 'Incest', 'Statutory Rape']]
df.drop('Sex Offenses',axis=1,inplace=True)

'Gambling Offenses' is a summary column

In [232]:
df[['Gambling Offenses', 'Betting/ Wagering','Operating/ Promoting/ Assisting Gambling','Gambling Equipment Violations', 'Sports Tampering']].sum()
df.drop('Gambling Offenses',axis=1,inplace=True)

Now we notice that the states are listed, but inbetween the first listing of a state and the next listing are a bunch of NaNs. We want to be able to organize rows by state so the next line of code fixes this.

In [233]:
df.dropna(subset=['Population'],inplace=True)
df = df.reset_index().drop('index',axis=1)
not_crimes = ['State','City','Population']
crimes = [i for i in df.columns if i not in not_crimes]
df['total_crimes'] = df[crimes].sum(axis=1)
df = df[not_crimes+['total_crimes']+crimes]
df.head()

,State,City,Population,total_crimes,Aggravated Assault,Simple Assault,Intimidation,Murder and Nonnegligent Manslaughter,Negligent Man- slaughter,Justifiable Homicide,...,Drug Equipment Violations,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
0,ALABAMA,Hoover,85163,4627.0,52,539,201,3,0,0,...,148,0,0,0,0,7,15,0,0,45
1,ARIZONA,Apache Junction,38519,2964.0,82,345,64,0,0,0,...,166,0,0,0,0,4,0,10,0,37
2,NaN,Gilbert,247324,8676.0,121,846,202,2,1,1,...,845,0,0,0,0,13,10,1,0,46
3,NaN,Yuma,93923,7985.0,330,668,167,5,1,0,...,573,0,0,0,0,13,0,0,0,74
4,ARKANSAS,Alma,5581,661.0,16,129,84,0,0,0,...,6,0,0,0,0,1,1,0,0,4

In [234]:
import numpy as np
from numpy import nan
states = list(df['State'])
for i in df.index:
    if (str(df.loc[i]['State']) == 'nan')&(str(states[i])=='nan'):
        k = list(df.loc[:i]['State'])
        last_state = [i for i in k if str(i)!='nan'][-1]
        states[i] = last_state
        
df['states']=pd.Series(states)
df.drop('State',axis=1,inplace=True)
df = df[['states']+[i for i in df.columns if 'state' not in i.lower()]]
df.head()

,states,City,Population,total_crimes,Aggravated Assault,Simple Assault,Intimidation,Murder and Nonnegligent Manslaughter,Negligent Man- slaughter,Justifiable Homicide,...,Drug Equipment Violations,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
0,ALABAMA,Hoover,85163,4627.0,52,539,201,3,0,0,...,148,0,0,0,0,7,15,0,0,45
1,ARIZONA,Apache Junction,38519,2964.0,82,345,64,0,0,0,...,166,0,0,0,0,4,0,10,0,37
2,ARIZONA,Gilbert,247324,8676.0,121,846,202,2,1,1,...,845,0,0,0,0,13,10,1,0,46
3,ARIZONA,Yuma,93923,7985.0,330,668,167,5,1,0,...,573,0,0,0,0,13,0,0,0,74
4,ARKANSAS,Alma,5581,661.0,16,129,84,0,0,0,...,6,0,0,0,0,1,1,0,0,4

In [235]:
df.to_csv('data_cleaned.csv')
df.head()

,states,City,Population,total_crimes,Aggravated Assault,Simple Assault,Intimidation,Murder and Nonnegligent Manslaughter,Negligent Man- slaughter,Justifiable Homicide,...,Drug Equipment Violations,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
0,ALABAMA,Hoover,85163,4627.0,52,539,201,3,0,0,...,148,0,0,0,0,7,15,0,0,45
1,ARIZONA,Apache Junction,38519,2964.0,82,345,64,0,0,0,...,166,0,0,0,0,4,0,10,0,37
2,ARIZONA,Gilbert,247324,8676.0,121,846,202,2,1,1,...,845,0,0,0,0,13,10,1,0,46
3,ARIZONA,Yuma,93923,7985.0,330,668,167,5,1,0,...,573,0,0,0,0,13,0,0,0,74
4,ARKANSAS,Alma,5581,661.0,16,129,84,0,0,0,...,6,0,0,0,0,1,1,0,0,4

In [236]:
df.shape

(3664, 55)

In [237]:
df['Population'].sum()

60161097

In [238]:
df['total_crimes'].sum()

4106936.0