In [36]:
import pandas as pd

data = pd.read_csv('data_cleaned.csv',index_col=0)
numerical_cols = [i for i in data.columns if i not in ['states','City']]
data[numerical_cols] = data[numerical_cols].applymap(lambda x: float(x))
crimes = [i for i in data.columns if i not in ['states','City','total_crimes','Population']]
data.head()

,states,City,Population,total_crimes,Aggravated Assault,Simple Assault,Intimidation,Murder and Nonnegligent Manslaughter,Negligent Man- slaughter,Justifiable Homicide,...,Drug Equipment Violations,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
0,ALABAMA,Hoover,85163.0,4627.0,52.0,539.0,201.0,3.0,0.0,0.0,...,148.0,0.0,0.0,0.0,0.0,7.0,15.0,0.0,0.0,45.0
1,ARIZONA,Apache Junction,38519.0,2964.0,82.0,345.0,64.0,0.0,0.0,0.0,...,166.0,0.0,0.0,0.0,0.0,4.0,0.0,10.0,0.0,37.0
2,ARIZONA,Gilbert,247324.0,8676.0,121.0,846.0,202.0,2.0,1.0,1.0,...,845.0,0.0,0.0,0.0,0.0,13.0,10.0,1.0,0.0,46.0
3,ARIZONA,Yuma,93923.0,7985.0,330.0,668.0,167.0,5.0,1.0,0.0,...,573.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,74.0
4,ARKANSAS,Alma,5581.0,661.0,16.0,129.0,84.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0

In [17]:
data['total_crimes'].sum()

4106936.0

In [37]:
df = data.head(5)

def convert_to_md(frame,name):
    cols = frame.columns
# Create a new DataFrame with just the markdown
# strings
    df2 = pd.DataFrame([['---',]*len(cols)], columns=cols)
#Create a new concatenated DataFrame
    df3 = pd.concat([df2, frame])
#Save as markdown
    df3.to_csv(name+".md", sep="|", index=False)
    
convert_to_md(df,'cleaned')

In [25]:
def model(data,fraud_crimes,corr):
    df = data.copy()
    import warnings
    import numpy as np
    warnings.filterwarnings('ignore')
    states = df['states'].unique() 
    #group all the fraud crimes together
    if len(fraud_crimes)>1:
        df['fraud_count'] = df[fraud_crimes].sum(axis=1)
        df.drop(fraud_crimes,axis=1,inplace=True)
    else:
        df['fraud_count'] = df[fraud_crimes[0]]
        df.drop(fraud_crimes,axis=1,inplace=True)
        
        
    combined_frame = pd.DataFrame()
    
    #loop over each state
    for state in states:
        dummy_frame = df[df['states']==state]
        #if the number of towns in the state is greater than the total number of crimes in the dataset (56),
        #use the correlation coefficients of each crime for only that state
        if len(dummy_frame)>=56:
            correlations = pd.DataFrame(dummy_frame.corr()['fraud_count']).reset_index()
            correlations['fraud_count'] = correlations['fraud_count'].apply(lambda x: x if x>=corr else 0)
            correlations['crime'] = correlations['index'].apply(lambda x: 1 if x in crimes+['fraud'] else 0)
            correlations = correlations[correlations['crime']==1].drop('crime',axis=1)
            for i in correlations.index:
                factor = correlations.loc[i]['fraud_count']
                feature = correlations.loc[i]['index']
                if feature not in ['total_crimes','fraud_count']:
                    dummy_frame[feature] = dummy_frame[feature].apply(lambda x: factor*x)
    
        elif len(dummy_frame)<56:
        #if the state has less than 56, use the correlation coefficients for the entire country
        #to calculate the weights.
            correlations = pd.DataFrame(df.corr()['fraud_count']).reset_index()
            correlations['fraud_count'] = correlations['fraud_count'].apply(lambda x: x if x>=corr else 0)
            correlations['crime'] = correlations['index'].apply(lambda x: 1 if x in crimes+['fraud'] else 0)
            correlations = correlations[correlations['crime']==1].drop('crime',axis=1)
        
        for i in correlations.index:
            factor = correlations.loc[i]['fraud_count']
            feature = correlations.loc[i]['index']
            if feature not in ['total_crimes','fraud_count']:
                dummy_frame[feature] = dummy_frame[feature].apply(lambda x: factor*x)
        combined_frame = pd.concat([combined_frame,dummy_frame],axis=0)
    
    model_groupby = combined_frame.groupby('states').sum().reset_index()
    model_groupby_crimes = [i for i in model_groupby.columns if i not in ['states','Population','total_crimes']]
    model_groupby['est.Frauds'] = model_groupby[model_groupby_crimes].sum(axis=1)
    model_groupby['%est.Caught'] = model_groupby['fraud_count'].div(model_groupby['est.Frauds'],axis=0).multiply(100)
    model_groupby = model_groupby[['states','Population','total_crimes','fraud_count','est.Frauds','%est.Caught']]
    model_groupby['fraud_prob'] = model_groupby['est.Frauds'].div(model_groupby['Population'],axis=0)
    model_groupby.sort_values(by='fraud_prob',ascending=True,inplace=True)
    
    model_groupby = model_groupby[['states','fraud_prob','Population','total_crimes','fraud_count','est.Frauds','%est.Caught']]
    model_groupby = model_groupby.reset_index().drop('index',axis=1)
    
    
    nation_wide_arrests = model_groupby['fraud_count'].sum()
    nation_wide_estimates = model_groupby['est.Frauds'].sum()
    percent_caught = round(100*nation_wide_arrests/nation_wide_estimates,2)
    
    print('crimes analzed: ',fraud_crimes)
    print('Nation wide % of crimes where arrests are made',percent_caught,'%')
    print('Nation wide arrests :',round(nation_wide_arrests))
    print('Nation wide estimate number of crimes: ',round(nation_wide_estimates))
    return model_groupby

In [23]:
fraud_crimes = ['Credit Card/ Automated Teller Machine Fraud', 'Imper- sonation',
       'Welfare Fraud', 'Wire Fraud','False Pretenses/ Swindle/ Confidence Game','Counter- feiting/ Forgery']

In [26]:
fraud_results = model(data,fraud_crimes,0.5)
fraud_results

crimes analzed:  ['Credit Card/ Automated Teller Machine Fraud', 'Imper- sonation', 'Welfare Fraud', 'Wire Fraud', 'False Pretenses/ Swindle/ Confidence Game', 'Counter- feiting/ Forgery']
Nation wide % of crimes where arrests are made 9.2 %
Nation wide arrests : 302783.0
Nation wide estimate number of crimes:  3291678.0

,states,fraud_prob,Population,total_crimes,fraud_count,est.Frauds,%est.Caught
0,CONNECTICUT,0.018755,2131967.0,75676.0,8410.0,39984.732828,21.033028
1,VERMONT,0.028646,356298.0,12130.0,659.0,10206.526964,6.456653
2,MASSACHUSETTS,0.029728,5589329.0,220709.0,18988.0,166157.165836,11.427735
3,PENNSYLVANIA,0.029747,192011.0,6830.0,901.0,5711.734907,15.774542
4,RHODE ISLAND,0.037800,1074282.0,48100.0,3988.0,40608.269721,9.820660
5,WISCONSIN,0.041495,1692713.0,112536.0,6882.0,70238.724227,9.798014
6,COLORADO,0.042639,3849768.0,245743.0,20101.0,164151.524847,12.245393
7,ARIZONA,0.042895,379766.0,19625.0,1484.0,16290.180241,9.109783
8,NEW HAMPSHIRE,0.044739,1180502.0,61688.0,6252.0,52814.510091,11.837656
9,OKLAHOMA,0.044845,793311.0,48728.0,3541.0,35575.804513,9.953394
10,ALABAMA,0.045579,85163.0,4627.0,416.0,3881.638300,10.717124
11,MICHIGAN,0.046026,6691114.0,389092.0,35444.0,307967.771670,11.508996
12,IDAHO,0.049793,980281.0,57263.0,3706.0,48811.004210,7.592550
13,NORTH DAKOTA,0.051247,519823.0,32543.0,2490.0,26639.398588,9.347058
14,TEXAS,0.051792,3143888.0,195623.0,16469.0,162829.702988,10.114248
15,MAINE,0.051816,243673.0,15182.0,1122.0,12626.188386,8.886292
16,IOWA,0.052435,1947549.0,126980.0,9720.0,102119.809704,9.518232
17,NEBRASKA,0.052939,411784.0,26416.0,1658.0,21799.331949,7.605738
18,OHIO,0.053531,4898884.0,346261.0,17892.0,262241.931738,6.822708
19,WEST VIRGINIA,0.056010,425679.0,28632.0,1708.0,23842.211117,7.163765
20,VIRGINIA,0.057447,3270146.0,228399.0,18388.0,187860.734624,9.788102
21,OREGON,0.065178,1104162.0,85941.0,6431.0,71966.967898,8.936044
22,MONTANA,0.067015,492755.0,39743.0,2113.0,33022.015145,6.398762
23,UTAH,0.068473,1728381.0,143304.0,10561.0,118346.732227,8.923778
24,WASHINGTON,0.068565,3776810.0,297444.0,17152.0,258957.898231,6.623471
25,SOUTH DAKOTA,0.070254,517742.0,39418.0,2155.0,36373.340055,5.924669
26,KENTUCKY,0.071638,2486459.0,186826.0,10341.0,178125.279056,5.805465
27,SOUTH CAROLINA,0.072006,1660602.0,171858.0,14441.0,119572.853210,12.077156
28,LOUISIANA,0.074508,64329.0,5828.0,229.0,4793.039686,4.777761
29,MISSOURI,0.078015,735444.0,69606.0,4490.0,57375.660078,7.825618
30,ARKANSAS,0.078626,1717797.0,165560.0,9907.0,135063.063793,7.335092
31,KANSAS,0.080202,1451414.0,122197.0,11525.0,116405.735880,9.900715
32,TENNESSEE,0.085333,4013235.0,407905.0,28919.0,342459.655420,8.444498
33,DELAWARE,0.097042,287914.0,33658.0,2493.0,27939.640297,8.922806
34,ILLINOIS,0.102251,148178.0,18260.0,720.0,15151.344789,4.752053
35,MISSISSIPPI,0.116717,117944.0,16605.0,1087.0,13766.025597,7.896251

In [35]:
top5 = fraud_results[['states','fraud_prob','%est.Caught']].head(5)
convert_to_md(top5,'top5')

In [27]:
fraud_results.to_csv('results.csv')

In [29]:
fraud_crimes1 = ['Credit Card/ Automated Teller Machine Fraud']
model_results = model(data,fraud_crimes1,0.5)

crimes analzed:  ['Credit Card/ Automated Teller Machine Fraud']
Nation wide % of crimes where arrests are made 2.71 %
Nation wide arrests : 69914.0
Nation wide estimate number of crimes:  2576097.0