In this notebook I go through the process of formatting and cleaning the data into the structure it is used for analysis.

In [1]:
import pandas as pd
df = pd.read_excel('united_states_offense_type_by_agency_2015.xlsx')
df.head()

,United States,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Offense Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Agency, 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,Agency Type,Agency Name,Population1,Total\nOffenses,Crimes\nAgainst\nPersons,Crimes\nAgainst\nProperty,Crimes\nAgainst\nSociety,Crimes Against Persons,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assault\nOffenses,Aggravated\nAssault,...,Betting/\nWagering,Operating/\nPromoting/\nAssisting\nGambling,Gambling\nEquipment\nViolations,Sports\nTampering,Por-\nnography/\nObscene\nMaterial,Pros-\ntitution\nOffenses,Pros-\ntitution,Assisting or\nPromoting\nProstitution,Purchasing\nProstitution,Weapon\nLaw\nViolations
4,ALABAMA,Cities,Hoover,85163,4627,830,3248,549,792,52,...,0,0,0,0,7,15,15,0,0,45

As we can see the aren't listed until row 3. So lets reload this frame again using skiprows

In [2]:
df = pd.read_excel('united_states_offense_type_by_agency_2015.xlsx',skiprows=3)
print(df.shape)

(5875, 67)

Now the actual crimes are listed in columns 11 and beyond. We need to relabel to the columns so these are the headers.

In [3]:
crimes = df.iloc[0,11:]
unnamed_cols = [i for i in df.columns if 'Unnamed' in i]
column_renames = dict(zip(unnamed_cols,crimes))
df.rename(columns=column_renames,inplace=True)
df = df.loc[1:]
df = df.reset_index().drop('index',axis=1)
print(df.shape)
df.head()

(5874, 67)

,State,Agency Type,Agency Name,Population1,Total Offenses,Crimes Against Persons,Crimes Against Property,Crimes Against Society,Crimes Against Persons,Intimidation,...,Betting/ Wagering,Operating/ Promoting/ Assisting Gambling,Gambling Equipment Violations,Sports Tampering,Por- nography/ Obscene Material,Pros- titution Offenses,Pros- titution,Assisting or Promoting Prostitution,Purchasing Prostitution,Weapon Law Violations
0,ALABAMA,Cities,Hoover,85163.0,4627.0,830.0,3248.0,549.0,792,52,...,0,0,0,0,7,15,15,0,0,45
1,ARIZONA,Cities,Apache Junction,38519.0,2962.0,544.0,2046.0,372.0,491,82,...,0,0,0,0,4,10,0,10,0,37
2,NaN,NaN,Gilbert,247324.0,8656.0,1319.0,5721.0,1616.0,1169,121,...,0,0,0,0,13,11,10,1,0,46
3,NaN,NaN,Yuma,93923.0,7974.0,1320.0,5527.0,1127.0,1165,330,...,0,0,0,0,13,0,0,0,0,74
4,NaN,Metropolitan Counties,Yuma,NaN,3169.0,605.0,2212.0,352.0,541,91,...,0,0,0,0,4,2,1,1,0,24

It's no good if we can find out the population of each town we may want to analyze. Lets get rid of rows with unknnown populations.

In [4]:
df.dropna(subset=['Population1'],inplace=True)
df = df.reset_index().drop('index',axis=1)
print(df.shape)

(3664, 67)

In [5]:
len(df['State'].unique())

37

In [6]:
df['Population1'].sum()

60161097.0

There are a lot of column names with linebreaks in them. Lets get rid of the linebreaks.

In [6]:
linbreak_cols = list(df.columns[5:])
rename_again = [i.replace('\n','') for i in linbreak_cols]
column_renames_again = dict(zip(linbreak_cols,rename_again))
df.rename(columns=column_renames_again,inplace=True)

`Agency Type` is probably not relevant. Drop it.

In [7]:
df.drop('Agency Type',axis=1,inplace=True)

Now we notice that the states are listed, but inbetween the first listing of a state and the next listing are a bunch of NaNs. We want to be able to organize rows by state so the next line of code fixes this.

In [8]:
print(df.shape)
df.head()

(3664, 66)

,State,Agency Name,Population1,Total Offenses,CrimesAgainstPersons,CrimesAgainstProperty,CrimesAgainstSociety,Crimes Against Persons,Intimidation,HomicideOffenses,...,Betting/Wagering,Operating/Promoting/AssistingGambling,GamblingEquipmentViolations,SportsTampering,Por-nography/ObsceneMaterial,Pros-titutionOffenses,Pros-titution,Assisting orPromotingProstitution,PurchasingProstitution,WeaponLawViolations
0,ALABAMA,Hoover,85163.0,4627.0,830.0,3248.0,549.0,792,52,539,...,0,0,0,0,7,15,15,0,0,45
1,ARIZONA,Apache Junction,38519.0,2962.0,544.0,2046.0,372.0,491,82,345,...,0,0,0,0,4,10,0,10,0,37
2,NaN,Gilbert,247324.0,8656.0,1319.0,5721.0,1616.0,1169,121,846,...,0,0,0,0,13,11,10,1,0,46
3,NaN,Yuma,93923.0,7974.0,1320.0,5527.0,1127.0,1165,330,668,...,0,0,0,0,13,0,0,0,0,74
4,ARKANSAS,Alma,5581.0,661.0,237.0,394.0,30.0,229,16,129,...,0,0,0,0,1,1,1,0,0,4

In [9]:
import numpy as np
from numpy import nan
states = list(df['State'])
for i in df.index:
    if (str(df.loc[i]['State']) == 'nan')&(str(states[i])=='nan'):
        k = list(df.loc[:i]['State'])
        last_state = [i for i in k if str(i)!='nan'][-1]
        states[i] = last_state
        
df['states']=pd.Series(states)
df.drop('State',axis=1,inplace=True)
df = df[['states']+[i for i in df.columns if 'state' not in i.lower()]]
df.head()

,states,Agency Name,Population1,Total Offenses,CrimesAgainstPersons,CrimesAgainstProperty,CrimesAgainstSociety,Crimes Against Persons,Intimidation,HomicideOffenses,...,Betting/Wagering,Operating/Promoting/AssistingGambling,GamblingEquipmentViolations,SportsTampering,Por-nography/ObsceneMaterial,Pros-titutionOffenses,Pros-titution,Assisting orPromotingProstitution,PurchasingProstitution,WeaponLawViolations
0,ALABAMA,Hoover,85163.0,4627.0,830.0,3248.0,549.0,792,52,539,...,0,0,0,0,7,15,15,0,0,45
1,ARIZONA,Apache Junction,38519.0,2962.0,544.0,2046.0,372.0,491,82,345,...,0,0,0,0,4,10,0,10,0,37
2,ARIZONA,Gilbert,247324.0,8656.0,1319.0,5721.0,1616.0,1169,121,846,...,0,0,0,0,13,11,10,1,0,46
3,ARIZONA,Yuma,93923.0,7974.0,1320.0,5527.0,1127.0,1165,330,668,...,0,0,0,0,13,0,0,0,0,74
4,ARKANSAS,Alma,5581.0,661.0,237.0,394.0,30.0,229,16,129,...,0,0,0,0,1,1,1,0,0,4

Its a good idea to see how often the total offenses column actually equals the sum of all the listed offenses for each row.

In [10]:
total_offenses_equal_sum_of_all_crimes = []
for i in df.index:
    if df.iloc[i,3] == df.iloc[i,4:7].sum():
        total_offenses_equal_sum_of_all_crimes.append(1)
percent_correct = round(100*sum(total_offenses_equal_sum_of_all_crimes)/len(df),3)
print('The total offenses column equals the sum of the generic crimes: '+str(percent_correct)+'% of the time')

The total offenses column equals the sum of the generic crimes: 99.672% of the time

The total offenses actually equals the generic crime listings almost 100% of the time. But unfortunately this means that the fraud crimes are contained within these generic columns, and if we use them then we aren't able to examine the granularity of fraud versus other particular crimes.

The best apporach would be to get rid of the generic crimes and the total offenses column, replacing it with a sum of all the particular types of crimes in the data.

In [11]:
#get rid of the generic crimes
generic = [i for i in df.columns if 'crime' in i.lower()]
df.drop(['Total\nOffenses']+generic,axis=1,inplace=True)

In [13]:
df['total_crimes'] = df[[i for i in df.columns if i not in ['states','Population1','Agency Name']]].sum(axis=1)
df.to_csv('data_cleaned.csv')
df.head()

,states,Agency Name,Population1,Intimidation,HomicideOffenses,Murder andNonnegligentManslaughter,NegligentMan-slaughter,JustifiableHomicide,HumanTraffickingOffenses,CommercialSex Acts,...,Operating/Promoting/AssistingGambling,GamblingEquipmentViolations,SportsTampering,Por-nography/ObsceneMaterial,Pros-titutionOffenses,Pros-titution,Assisting orPromotingProstitution,PurchasingProstitution,WeaponLawViolations,total_crimes
0,ALABAMA,Hoover,85163.0,52,539,201,3,3,0,0,...,0,0,0,7,15,15,0,0,45,7114.0
1,ARIZONA,Apache Junction,38519.0,82,345,64,0,0,0,0,...,0,0,0,4,10,0,10,0,37,4022.0
2,ARIZONA,Gilbert,247324.0,121,846,202,4,2,1,1,...,0,0,0,13,11,10,1,0,46,11988.0
3,ARIZONA,Yuma,93923.0,330,668,167,6,5,1,0,...,0,0,0,13,0,0,0,0,74,10739.0
4,ARKANSAS,Alma,5581.0,16,129,84,0,0,0,0,...,0,0,0,1,1,1,0,0,4,919.0

Now group all the fraud crimes together.